* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.28;
	background-color: #000;
	color: white;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: none
}

#container {
	min-height: 100vh;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
}

h1 {
	position: fixed;
	opacity: 0;
	top: -10000000000px;
	left: -10000000000px;
}

.verticalAlign {
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
}

#columns {
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: left;
	-moz-justify-content: left;
	justify-content: left;
}

#wrapper {
	width: 100%;
	max-width: 512px;
	position: relative;
	float: right;
	-webkit-flex-grow: 2;
	-moz-flex-grow: 2;
	flex-grow: 2;
}

#form {
	float: left;
	margin-right: 48px;
	min-width: 320px;
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	flex-grow: 1;
}

label {
	display: block;
	font-size: 16px;
	margin-bottom: 4px;
}

input {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

input[type="text"] {
	width: 100%;
	font-size: 18px;
	height: 52px;
	text-transform: uppercase;
	padding: 0 16px;
	background-color: transparent;
	color: white;
	border: 2px solid white;
	outline: none;
	border-radius: 4px;
	margin-bottom: 12px;
	font-weight: 500;
}

input#download, .generateWrap {
	font-size: 16px;
	border: 2px solid white;
	padding: 12px 0;
	border-radius: 4px;
	outline: none;
	color: black;
	background-color: white;
	cursor: pointer;
	position: relative;
	display: block;
	line-height: 24px;
	width: -webkit-calc(50% - 6px);
	width: -moz-calc(50% - 6px);
	width: -o-calc(50% - 6px);
	width: calc(50% - 6px);
	float: left;
	text-align: center;
	font-weight: 500;
	-webkit-appearance: none;
}

input#download:active, .generateWrap:active {
	opacity: .5;
}

.generateWrap {
	margin-right: 12px;
}

.generateWrap input[type="file"] {
	opacity: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	cursor: pointer;
	outline: none;
	border: none;
}

#canvasWrap {
	height: 480px;
	position: relative;
}

#original {
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#original img {
	width: 100%;
	height: auto;
	display: block;
}

#canvas {
	position: absolute;
	-webkit-transform: scale3d(.5, .5, 1);
	-webkit-transform-origin: top left;
	-moz-transform: scale3d(.5, .5, 1);
	-moz-transform-origin: top left;
	-o-transform: scale3d(.5, .5, 1);
	-o-transform-origin: top left;
	transform: scale3d(.5, .5, 1);
	transform-origin: top left;
}

@media only screen and (max-width: 800px) {
	
	#container {
		padding: 12px 0;
		max-width: 512px;
	}
	
	#columns {
		display: block;	
	}
	
	#form {
		width: 100%;
		margin: 0 0 12px;
	}
	
	
}

@media only screen and (max-width: 512px) {
	
	#container {
		min-height: 0;
	}
	
	#form {
		padding: 0 12px;
	}
	
	input#download, .generateWrap {
		font-size: 14px;
		line-height: 18px;	
	}
	
}

.cf:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

html[xmlns] .cf {
	display: block;
}

* html .cf {
	height: 1%;
}